asttokens
blinker==1.9.0
click==8.1.8
comm
debugpy
decorator
executing
Flask==3.1.0
Flask-Mail==0.10.0
gunicorn==23.0.0
ipykernel
ipython
itsdangerous==2.2.0
jedi
Jinja2==3.1.5
jupyter_client
jupyter_core
MarkupSafe==3.0.2
matplotlib-inline
nest-asyncio
numpy==2.2.1
packaging
pandas==2.2.3
parso
pexpect
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
python-dateutil
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq
setuptools==75.1.0
six
stack-data
tornado
traitlets
tzdata==2024.2
wcwidth
Werkzeug==3.1.3
wheel==0.44.0
