 <!-- Stats Section -->
    <!-- <section id="stats" class="stats section"> -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Happy Clients</strong> <span>consequuntur quae</span></p>
                </div>
              </div>
              <!-- End Stats Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Projects</strong> <span>adipisci atque cum quia aut</span></p>
                </div>
              </div><!-- End Stats Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                  <i class="bi bi-headset"></i>
                  <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Hours Of Support</strong> <span>aut commodi quaerat</span></p>
                </div>
              </div><!-- End Stats Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                  <i class="bi bi-people"></i>
                  <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Hard Workers</strong> <span>rerum asperiores dolor</span></p>
                </div>
              </div><!-- End Stats Item -->
    
            </div>
    
          </div>
    
        </section><!-- /Stats Section -->














         <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
  
            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-product">Product</li>
              <li data-filter=".filter-branding">Branding</li>
              <li data-filter=".filter-books">Books</li>
            </ul><!-- End Portfolio Filters -->
  
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Product 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/product-1.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Branding 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/branding-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Books 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/app-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Product 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Branding 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/branding-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Books 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Product 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/product-3.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Branding 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/branding-3.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                <div class="portfolio-content h-100">
                  <img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Books 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Portfolio Item -->
  
            </div><!-- End Portfolio Container -->
  
          </div>
  
        </div>
  
      </section><!-- /Portfolio Section -->





       <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title"><a href="service-details.html" class="stretched-link">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title"><a href="service-details.html" class="stretched-link">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title"><a href="service-details.html" class="stretched-link">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
            <div>
              <h4 class="title"><a href="service-details.html" class="stretched-link">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
            <div>
              <h4 class="title"><a href="service-details.html" class="stretched-link">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
            <div>
              <h4 class="title"><a href="service-details.html" class="stretched-link">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->













    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->











    <h3 class="resume-title">Certifications</h3>
        <div class="resume-item">
          <ul>
            <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/data-cleaning"><strong>Data Cleaning</strong> (Kaggle)</a> - Dec. 2024</li>
            <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/feature-engineering"><strong>Feature Engineering</strong></a> (Kaggle) - Dec. 2024</li>
            <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/time-series"><strong>Time Series</strong> (Kaggle)</a> - Oct. 2024</li>
            <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/pandas"><strong>Pandas</strong> (Kaggle)</a> - Apr. 2024</li>
            <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/intermediate-machine-learning"><strong>Intermediate Machine Learning</strong> (Kaggle)</a> - Jan. 2024</li>
            <li><a href="https://www.udemy.com/certificate/UC-83c7f2fb-fe3d-4cc5-a2ac-46c9e9c69d4e/"><strong>Deep Learning and Computer Vision A-Z:</strong> OpenCV, SSD & GANs (Udemy)</a> - Mar. 2023</li>
            <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/computer-vision"><strong>Computer Vision</strong> (Kaggle)</a> - Jan. 2023</li>
            <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/intro-to-deep-learning"><strong>Intro to Deep Learning</strong> (Kaggle)</a> - Oct. 2022</li>
            <li><strong>Microsoft Technology Associate:</strong> Software Development Fundamentals - Aug. 2016</li>
          </ul>
        </div>




        <div class="resume-item">
          <h4>Research Associate</h4>
          <h5>2024 - Present</h5>
          <p><em>University of Regensburg, Germany</em></p>
          <ul>
            <li>Conduct research in multi-human-multi-robot collaboration focusing on task allocation, control sharing and human ergonomics.</li>
            <li>Setup and manage the robotics lab, including procurement planning and equipment installation.</li>
            <li>Develop academic content and supervise Bachelor and Master thesis students.</li>
          </ul>
        </div><!-- End Resume Item -->

        <div class="resume-item">
          <h4>Embedded Software Engineer</h4>
          <h5>2023 - 2024</h5>
          <p><em>Goodbot, Freiburg, Germany</em></p>
          <ul>
            <li>Developed robotics solutions using Arduino and ESP32, including hardware integration and programming.</li>
            <li>Designed electrical schematics and conducted PCB assembly and debugging.</li>
            <li>Achieved IPX2 compliance for lab robotics by implementing waterproofing standards.</li>
          </ul>
        </div><!-- End Resume Item -->

        <div class="resume-item">
          <h4>Assembly Specialist</h4>
          <h5>2021 - 2023</h5>
          <p><em>Micropelt, Umkirch, Germany</em></p>
          <ul>
            <li>Managed radiator valve production and improved assembly line efficiency with lean manufacturing principles.</li>
          </ul>
        </div><!-- End Resume Item -->

        <div class="resume-item">
          <h4>Maintenance Engineer Trainee</h4>
          <h5>2019 - 2020</h5>
          <p><em>Mahindra Accelo, Pune, India</em></p>
          <ul>
            <li>Maintained and repaired Servo Press machinery, focusing on hydraulic and pneumatic systems.</li>
            <li>Developed a CRM portal using ASP.NET MVC with Python-based analytics integration.</li>
          </ul>
        </div><!-- End Resume Item -->

        <div class="resume-item">
          <h4>Software Developer Trainee</h4>
          <h5>2019</h5>
          <p><em>Idealake, Mumbai, India</em></p>
          <ul>
            <li>Developed financial web applications using the .NET framework and WCF services.</li>
          </ul>
        </div><!-- End Resume Item -->

        <div class="resume-item">
          <h4>Robotic Maintenance Intern</h4>
          <h5>2019</h5>
          <p><em>Forbes Pvt. Ltd., Mumbai, India</em></p>
          <ul>
            <li>Studied the architecture and inner working of the NX100 Controller and YASKAWA robot, respectively.</li>
          </ul>
        </div><!-- End Resume Item -->
      </div>


      <div class="resume-item">
        <h4>Master of Science in Embedded Systems Engineering</h4>
        <h5>2020 - 2024</h5>
        <p><em>Albert Ludwigs Universität Freiburg, Germany</em></p>
        <p>Specialization: Artificial Intelligence</p>
        <p>Master’s Thesis: Refining Robotic Motions for Visual Servoing with Long-Horizon Tasks using one-shot imitation learning and SAM.</p>
      </div><!-- End Resume Item -->

      <div class="resume-item">
        <h4>Bachelor of Engineering in Electronics</h4>
        <h5>2014 - 2018</h5>
        <p><em>University of Mumbai, India</em></p>
        <p>Bachelor’s Thesis: Grid-Synchronized Solar Micro Inverter System focusing on embedded control and power optimization.</p>
      </div><!-- End Resume Item -->


      <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/data-cleaning"><strong>Data Cleaning</strong> (Kaggle)</a> - Dec. 2024</li>
      <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/feature-engineering"><strong>Feature Engineering</strong></a> (Kaggle) - Dec. 2024</li>
      <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/time-series"><strong>Time Series</strong> (Kaggle)</a> - Oct. 2024</li>
      <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/pandas"><strong>Pandas</strong> (Kaggle)</a> - Apr. 2024</li>
      <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/intermediate-machine-learning"><strong>Intermediate Machine Learning</strong> (Kaggle)</a> - Jan. 2024</li>
      <li><a href="https://www.udemy.com/certificate/UC-83c7f2fb-fe3d-4cc5-a2ac-46c9e9c69d4e/"><strong>Deep Learning and Computer Vision A-Z:</strong> OpenCV, SSD & GANs (Udemy)</a> - Mar. 2023</li>
      <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/computer-vision"><strong>Computer Vision</strong> (Kaggle)</a> - Jan. 2023</li>
      <li><a href="https://www.kaggle.com/learn/certification/jayeshsantoshtawade/intro-to-deep-learning"><strong>Intro to Deep Learning</strong> (Kaggle)</a> - Oct. 2022</li>
      <li><strong>Microsoft Technology Associate:</strong> Software Development Fundamentals - Aug. 2016</li>